<!DOCTYPE html>
{% extends "topics/base.html" %}
{% block nav_item_work %}active{% endblock nav_item_work %}
  {% block body_block %}
  {% load staticfiles %}
  <center><h1 style="font-size:40px;">Erseke Musuem Report</h1></center>
  <h3>  As part of the Erseke's Tourism Redevelopment Intiative I was tasked with doing an analysis of Erseke's museum for problems, and provide solutions. I was given a tour of the museum where I examined the museum.
  After I wrote the below report that I presented to the Mayor of Erseke where he used it as framework to develop the museum.</h3>
  <center><div data-configid="30624571/63315294" style="width:1000px; height:541px;" class="issuuembed"></div>
  <script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script></center>
  {% endblock %}
