<!DOCTYPE html>
{% extends "topics/base.html" %}
{% block nav_item_work %}active{% endblock nav_item_work %}
  {% block body_block %}
  {% load staticfiles %}
  <center><h1 style="font-size:40px;">West New York Revisioned</h1>
  <h3>After seeing the large amount of development within NJ areas bordering NYC, I investigated the recent amount of developmentss to see if there was a trend, and the potential effects that could occur to the existing communities. From my initial findings, I wrote an <a href="http://cliffsidepark.dailyvoice.com/neighbors/urban-planner-cliffside-park-faces-turning-point-for-better-or-worse/715332/" target="_blank" style="color:black"><b>article about Cliffside Park</b></a> highlighting the concerns I found.</h3>
  <h3>Next, I looked at West New York a town near Cliffside Park that is facing a similiar problem. I created a proposal shown below that gives possible solutions to those problems, and a more detailed analysis of them.</h3>
  <div data-configid="30624571/63300736" style="width:800px; height:600px;margin-bottom:2cm;margin-top:1cm" class="issuuembed"></div>
<script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
</center>
  {% endblock %}
